#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* @media screen and (min-width: 1000px) {
  .hamburger-hidden {
    display: none;
  }
} */

/* @media screen and (max-width: 999px) {
  .navbar-items-hidden {
    display: none;
  }
} */