#root {
  max-width: 100%;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.navbar-brand {
  padding-left: 15px;
  margin-left: 0;
}

.navbar {
  font-family: 'Open Sans', sans-serif;
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}