#root {
  max-width: 100%;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.navbar-brand {
  padding-left: 0;
  margin-left: 0;
}

.navbar {
  font-family: 'Open Sans', sans-serif;
}