.header-img {
  height: 150px !important;
  object-fit: cover;
  margin-top: 56px;
  width: 100% !important;
  max-width: none !important;
  display: block;
}

.colored {
  background-color: lightblue;
}

.colored2 {
  background-color: aqua;
  text-align: center;
}

.contact-us-format {
  margin-top: 206px;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
}

.contact-us-format>div {
  padding: 20px;
  flex: 1;
  min-width: 500px;
}

.contact-us-title {
  font-size: 36px;
  font-weight: bold;
  text-decoration: underline;
}

.contact-us-info {
  background-color: aqua;
  width: 50vw;
  text-align: left;
  height: 100vw;
}

.contact-us-map {
  background-color: lightblue;
  width: 50vw;
  text-align: center;
  height: 100vw;
}

.contact-us-item {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 24px;
}

.map-iframe {
  width: 80%;
  height: 500px;
}

/* NEED MEDIA QUERIES HERE FOR BETTER RESIZING */