.container-fluid {
  padding: 0 !important;
  width: 100vw !important;
  position: relative;
  left: 50%;
  margin-left: -50vw !important;
}

.header-img {
  width: 100%;
  height: auto;
  display: block;
}

.carwash-img {
    width: 900px;
    height: auto; 
    margin-top: 20px;
    margin-bottom: 20px;
}

.blue-background {
    background-color: #007BFF; 
    color: white;
    padding: 150px;
    text-align: center;
    height: 500px;
    width: 1000px;
    /* margin-bottom: 20px; */
}

.blue-background-memberships {
    background-color: #007BFF; 
    color: white;
    text-align: center;
    height: 600px;
    width: 1000px;
    /* margin-bottom: 20px; */
}

.no-background-hours {
    text-align: center;
    height: 500px;
    width: 1000px;
}

.title-text {
    font-size: 64px;
    font-weight: bold;
    padding-bottom: 40px;
}

.address-text {
    font-size: 36px;
}

.membership-title {
    font-size: 48px;
    font-weight: bold;
    padding-top: 10px;
}

.membership-flex {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-top: 20px;
    flex-wrap: wrap;
    flex-direction: row;
}

.membership-item {
    border: 2px solid white;
    border-radius: 15px;
    height: 350x;
    width: 300px;
}

.membership-item-title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
}

.hours-item {
    border: 2px solid black;
    border-radius: 15px;
    height: 350x;
    width: 300px;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 30px;
    width: 600px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.hours-title {
    font-size: 48px;
    font-weight: bold;
    padding-top: 10px;
}

.hours-section {
    padding-top: 20px;
    padding-bottom: 50px;
}