.title {
  margin-top: 50px;
  font-weight: bold;
  font-size: 50px;
}

.subtitle {
  font-size: 40px;
}

.boxed {
  border: 2px solid black;
  border-radius: 20px;
  margin: 20px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.colored {
  background-color: lightgray;
}

.colored2 {
  background-color: aqua;
  text-align: center;
}

.home-format {
  margin-top: 206px;
}

.home-format>div {
  padding: 20px;
  flex: 1;
  min-width: 500px;
}

.home-format img {
  max-width: 100%;
  height: auto;
}

.header-container {
  position: absolute;
  left: 0;
  right: 0;
  width: 100vw;
  padding: 0 !important;
  margin: 0 !important;
}

.header-img {
  height: 150px !important;
  object-fit: cover;
  margin-top: 56px;
  width: 100% !important;
  max-width: none !important;
  display: block;
}

.hours {
  font-size: 20px;
  text-align: left;
}

.memberships {
  font-size: 20px;
  text-align: left;
  margin-left: 30%;
  margin-right: 30%;
}

.hours-parent {
  font-size: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hours-stack {
  border: black 2px solid;
  border-radius: 15px;
  width: fit-content;
  padding: 50px;
  margin: 0 auto;
}

.membership-container {
  display: flex;
  flex-direction: column;
  /* background-color: white; */
}

.membership-item {
  font-size: 30px;
  text-wrap: wrap;
}

@media (max-width: 1000px) {
  .home-format {
    flex-direction: column;
    align-items: center;
  }
}