name: Test coverage

on: [push, pull_request]

jobs:
  test-coverage:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Use Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '24'

    - name: Clean node_modules
      run: rm -rf node_modules && rm -rf website/node_modules

    - name: Install dependencies
      run: npm ci
      working-directory: website

    - name: Get test coverage
      run: npm test -- --coverage --run
      working-directory: website
