name: CI tests

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Use Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '24'

    - name: Clean root node_modules
      run: rm -rf node_modules package-lock.json
      working-directory: website

    - name: Install dependencies
      run: npm ci
      working-directory: website

    - name: Run tests
      run: npm test -- --run
      working-directory: website